* {
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3;
}

a:hover{
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: Arial;
    background-color:darkblue;
    height: 8vh;
} 

.nav-list{
    list-style: none;
    display: flex;

}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.content{
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;    
   
}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar{
    width: 70px;
    height: 17px;
    margin: 6px;
    border:2px solid snow;
    border-radius: 2px;
    cursor: pointer;
}